.cards-place{
  margin: auto;
  width: 96%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.card{
  margin: auto auto;
  width: calc(120px - 14px);
  height: calc(142px - 14px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  user-select: none;
  position: relative;
}
.card:hover{
  transform: scale(110%);
}
.card:active{
  transition: all .3s;
  transform: scale(97%);
}
.stats{
  padding: 5px 0;
  text-align: center;
}
.card-hero{
  background-color: rgb(109, 111, 71);
  border: 7px solid rgb(191, 163, 6);
}
.card-foe{
  background-color: rgb(111, 71, 71);
  border: 7px solid darkred;
}
.card-heal{
  background-color: rgb(71, 111, 79);
  border: 7px solid darkgreen;
  
}
.card-image{
  transform: scale(300%);
  margin-bottom: 30px;
}
.card-text{
  position: absolute;
  bottom: 5px;
}