@media (max-width: 450px) {
  h1{
    font-size: 20px;
  }
  main{
    width: 300px;
    height: 450px;
    background-color: #444;
  }
  .card{
    border-width: 5px!important;
    width: 90px!important;
    height: 105px!important;
  }
  .ai-button{
    padding: 3px 5px;
  }
  .setting__text{
    font-size: 12px!important;
  }
  .settings__input::-webkit-slider-thumb{
    width: 20px;
  }
}